.to_reg{
    position: absolute;
    top: 15px;
    right: 110px;
    width: 170px;
    height: 90px;
}
.to_log{
    position: absolute;
    top: 705px;
    right: 105px;
    width: 180px;
    height: 80px;
}

.u_count{
    position: absolute;
    top:250px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 50px;
    color:#fee566;
    width:100%;
}
.u_count label{ float:left; }
.c_count span{
    margin-left: 20px;
}

#lottery{
    width: 750px;
    height: 540px;
    /*margin: 0px auto;*/
    background: url(../img/lottery/lottery.png) no-repeat;
    background-size: 100% 100%;
    /*position: absolute;*/
    /*top: 110px;*/
    /*left: 150px;*/
}
img.wz{
    position: absolute;
    left: 0;
    top: 10px;
}
#lottery table{
    position: relative;
    /*padding-top:57px;*/
    /*padding-left: 65px;*/
    top:57px;
    left:65px;
}
#lottery table td{position:relative;width:105px;height:105px;text-align:center;color:#333;font-index:-999}
#lottery table td img{display:block;width:90px;height:90px;border-radius: 20px;}
#lottery table td a{
    width:410px;
    /*width:90px;*/
    height:200px;
    display:block;text-decoration:none;
    background:url(../img/lottery/lottery1.png) no-repeat top center;
    background-size: 100% 100%;
}
#lottery table td a:hover{
    background-image:url(../img/lottery/lottery2.png);
}
#lottery table td.active .mask{display:block;}
.mask{
    width:100%;
    height:100%;
    position:absolute;
    left:-5px;
    top: 0;
    background:url(../img/lottery/mask.png) no-repeat;
    background-size: 100% 100%;
    display:none;
    border-radius: 10px;
}

.l_count{
    position: absolute;
    top: 660px;
    font-size: 18px;
    font-weight: bold;
    color: #fee566;
    left: 340px;
}
.l_count p{ float:left; width: 60px; }
.l_count p:nth-child(2){
    margin-left: 160px;
}
.l_count p:nth-child(3){
    margin-left: 135px;
}

.list{
    /*overflow: hidden; position: absolute; right:220px;*/
}
.list ul li {
    transition: none !important; color:#000; font-size: 16px;
    line-height: 25px;
}
.list ul li span{ text-align: center; display: inline-block;}


.lottery-list{
    /*width: 600px;*/
    height: 400px;
    /*top: 1000px;*/
}
/*.lottery-list ul li span:nth-child(1){ width: 220px;}*/
/*.lottery-list ul li span:nth-child(2){ width: 220px; margin-left:120px; }*/

.table-goods > tbody > tr > td{
    line-height:2.42857143;
}

.lottery-form{
    display: inline-block;
}

@media only screen and (max-width: 768px){
    .mobile_hide{
        display: none;
    }
}
