/* content */
.content{
    margin-top:60px;
}

/* footer */

footer {
    margin-top: 30px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a {
    color: #555;
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}


footer img.brand-icon {
    width: 17px;
    height: 17px;
}

footer .slogon {
    color:#26aa90;
    font-size: 13px;
    font-weight: bold;
}

/* share */

section.user_info, section.share-message {
    margin-top: 10px;
    text-align: center;
}


section.user_info .gravatar {
    float: none;
}

section.user_info h1 {
    font-size: 1.4em;
    letter-spacing: -1px;
    margin-bottom: 22px;
    margin-top: 22px;
}

.gravatar {
    width:80px;
    height:80px;
    float: left;
    margin-right: 2px;
// max-width: 50px;
    border-radius: 50%;
}

.share-body{
    margin-bottom:10px;
}

.share-btn{
    margin-right:5px;
}

.ib {
    display: inline-block;
}

.prize-list-ul{
    list-style-type: none;
    padding:0;
    margin:0;
    text-align:center;
}

.prize-list-ul .img-responsive{
    display: inline-block;
}

.prize-list-ul li{
    width:95%;
    display: inline-block;
    list-style-type: none;
    padding-bottom: 15px;

}

.prize-list-ul li i{
    color:#333;
}

.prize-list-ul .con-point-des{
    font-size:14px;
    color:#666;
}

.point{
    display: inline-block;
    height:25px;
}

.footer a{
    text-decoration: underline;
    font-size: 13px;
}
