/* content */
.content{
    margin-top:60px;
}

/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a {
    color: #555;
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}


footer img.brand-icon {
    width: 17px;
    height: 17px;
}

footer .slogon {
    color:#26aa90;
    font-size: 13px;
    font-weight: bold;
}

/* share */

section.user_info, section.share-message {
    padding-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}


section.user_info .gravatar {
    float: none;
// max-width: 70px;
}

section.user_info h1 {
    font-size: 1.4em;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 15px;
}

.gravatar {
    width:80px;
    height:80px;
    float: left;
    margin-right: 2px;
// max-width: 50px;
    border-radius: 50%;
}

.share-body{
    margin-bottom:10px;
}

.ib {
    display: inline-block;
}
